<!-- <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Search Subject"ng-model='subfilter'>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" ng-model="external.selectedsub" required>
            <option value ="d" ng-repeat="d in labdata.subjectinfo | filter:{sub_name:subfilter}">{{d.tag}}</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Search Internal faculty" ng-model="facfilter">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" ng-model="external.internal" required>
            <option value="f" ng-repeat="f in labdata.facultyinfo | filter:{name:facfilter}">{{f.name}}</option>
        </select>
        </div>
        <div class="col">
            <input type="date" ng-model=" external.Startingdate"class="form-control" placeholder="Starting Date" required>
        </div>
        <div class="col">
            <input type="date" ng-model="external.endingdate" class="form-control" placeholder="Starting Date">
    <input type="button" name="confirm" ng-click="review(external)">
            
        </div>
    </div>
    <div class="form-row">
        <input type="text" ng-model="external.name" placeholder="External Examiner Name" required>
        <input type="text" ng-model="external.dept" placeholder="Department" required>
        <input type="text" ng-model="external.clg" placeholder="College" required>
        <input type="text" ng-model="external.address" placeholder="Contact" required>
        <input type="text" ng-model="external.number" placeholder="Contact Number" required>
    </div>
</form> -->

<style>
    .row{
        margin: auto;
        margin-top: 7px;
    }

    .header .row{
        font-family:serif;
        width: fit-content;
        margin: auto !important;
    }

    .container
    {
        max-width: 80%;
        margin: auto;
        border: 2px dotted #ffe02e;
    }

    .container-md{
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background: #ffe96e;
        transition: all ease-in-out 0.1s;
        /* height: 100%; */
    }

    .container-md input, select{
        width: 100%;
    }
</style>

<div class="container-md mt-3" style="padding: 3%;">
    <form ng-submit="review(external)">
      <div class="form-row">
        <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Search Subject"ng-model='subfilter'>
        </div>
        <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Search Internal faculty" ng-model="facfilter">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6 ">
          <label for="select1">Subject</label>
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" ng-model="external.selectedsub" required>
            <option value ="{{d}}" ng-repeat="d in labdata.subjectinfo | filter:{sub_name:subfilter}">{{d.tag}}</option>
        </select>
        </div>
        <div class="form-group col-md-6">
          <label for="select2">Internal faculty</label>
          <select class="form-select form-select-lg" aria-label=".form-select-lg example" ng-model="external.internal" required>
            <option value="{{f}}" ng-repeat="f in labdata.facultyinfo | filter:{name:facfilter}">{{f.name}}</option>
        </select>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-md-4">
        <input type="text" class="form-control" ng-model="external.name" placeholder="External Examiner Name" required>
            
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" ng-model="external.dept" placeholder="Department" required>
        </div>
        <div class="form-group col-md-4">
            <input type="text" class="form-control" ng-model="external.clg" placeholder="College" required>
        </div>
      </div>


      <div class="form-row justify-content-between">
        <div class="form-group col-md-2">
            <input type="text" class="form-control" ng-model="external.address" placeholder="College Address" required>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" ng-model="external.email" placeholder="email Address" required>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" ng-model="external.number" placeholder="External Number" required>
          </div>
          <div class="form-group col-md-2">
            <input type="date" class="form-control" ng-model="external.stdate" required>
          </div>
          <div class="form-group col-md-2">
            <input type="date" class="form-control" ng-model="external.eddate">
          </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>






   
  <div id="print"class="container justify-content-center mt-3" style="padding: 5%;text-align: center;">
    <div class="header justify-content-center">
        <div class="row"><img src="./../../universitylogo.png"/ style="height: 70px;width: 70px;"></div>
        <div class="row"><h2>UNIVERSITY COLLEGE OF ENGINEERING</h2></div>
        <div class="row"><h3>(AUTONOMOUS)</h3></div>
        <div class="row"><h5>OSMANIA UNIVERSITY, HYDERABAD - 500007, INDIA</h5></div>
    </div>

    <div class=" row mt-5">
        <div class="left">No. /UCE/OU/2023</div>
        <div class="right">Date: {{curdate}}</div>
    </div>

    <div class="row mt-3 justify-content-left text-left">
        <div class="col-6">
            <p class="left">
                To
                {{external.name}},<br>
                {{external.dept}},<br>
                {{external.clg}},<br>
                {{external.address}} <br>
                Phone: {{external.number}},<br>
                Email Id: {{external.email}}.<br>
            </p>
        </div>
    </div>

    <div class="row mt-2 justify-content-center">
        <div class="col">
            <p>Sub: {{subjectletter}}</p>
        </div>
    </div>

    <div class="row mt-2 text-left"><p>Sir/Madam</p></div>

    <div class="row">
        <p>
            &ensp I am pleased to inform you that you have been appointed as External Examiner to conduct the Practical Examination scheduled {{period}}.  The timetable and the groupings of candidates in the subject of {{subject}} is attached herewith.  
        </p>

        <p>
            &ensp You are requested to intimate your acceptance by e-mail/mobile to internal examiner, or Head Department of {{dept}}, UCE (A), OU. The honorarium and TA will be  paid  as  per  the  University  College  of  Engineering  (A),  Osmania  University,  norms  in vogue.
        </p>
    </div>


    <div class="row justify-content-right text-center">
        <div class="col"></div>
        <div class="col-4">
            Yours faithfully,
            <br>
            <br>
            <br>
            Chief Superintendent
            B.E. Exams
        </div>
    </div>


    <div class="row text-left">
        Copy to: <br>
        <ol >
            <li>
                {{internalinfo}}
            </li>
            <li>
                {{internalcon}}
            </li>
            <li>
                {{head}}
            </li>
            <li>
                Director of Evaluation, Examination Cell, UCE (A), O.U.
            </li>
        </ol>
    </div>
</div>
