<div>
    <strong>ADD elective</strong>
</div>
<form ng-submit="add()">
    <div class="col">
        <select  ng-model="dept.grad" class="form-select form-select-sm "
            aria-label=".form-select-sm example" style="width:100%;" required>
            <option disabled>Select Graduation</option>
            <option ng-repeat="d in info.data1" value={{d.course}}>{{d.course}}</option>
        </select>
    </div>
    <div class="col" >
        <select ng-disabled="!dept.grad" ng-model="dept.sem" class="form-select form-select-sm"
            aria-label=".form-select-sm example" style="width:100%;" required>
            <option
                ng-repeat="d in sem"
                value={{d}}>{{d}}</option>
        </select>
    </div>
    <div class="col" >
        <select ng-disabled="!dept.sem" ng-model="dept.oe" class="form-select form-select-sm"
            aria-label=".form-select-sm example" style="width:100%;" required>
            <option
                ng-repeat="d in oe"
                value={{d}}>{{d}}</option>
        </select>
    </div>
    <input ng-disabled="!dept.oe" class="form-control form-control-sm" ng-model="dept.abbr" type="text" placeholder="Subject abbr" required>
    <input ng-disabled="!dept.oe" class="form-control form-control-sm" ng-model="dept.name" type="text" placeholder="Subject Name" required>
    <input class="form-control form-control-sm" ng-model="filter" type="text" placeholder="Search For faculty">
    <div class="col">
        <div class="wrapper" >
            <div class="selected-items-box">
            faculty
                    <span class="dropdown-icon"></span>
            </div>
            <div class="list">
                <ul class="items-list sir_names" >
                    <li style="background-color: #e96b56; display: flex;" ng-repeat="f in facnames | filter:{name:filter}">
                    <input class="small_checks" type="checkbox" value="f.name" ng-model="f.selected">
                <span >{{f.name}}</span>
                        <!-- <label>{{f.name}}</label> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>