<fieldset class="border p-2">
  <legend  class="w-auto">Create User</legend>
  <form name="form" ng-submit="adduser(user,data.data)" role="form" class="adduserform">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name</label>
        <input type="text"  name="Username" id="Username" class="form-control" ng-model="user.name" placeholder="NAME" required>
        <span ng-show="form.Username.$dirty && form.Username.$error.required" class="help-block">user name Required</span>
      </div>
      <div class="form-group col-md-3">
        <label for="inputState">Role</label>
        <select id="role" name="role" class="form-control" ng-model="user.rol" required>
        <span ng-show="form.role.$dirty && form.role.$error.required" class="help-block">Role Required</span>
          <option ng-repeat="d in data.data1" value="{{d.id}}">{{d.description}}</option>
        </select>
      </div> 
      <div class="form-group col-md-3">
        <label for="inputState">Department</label>
        <select id="dept" name="dept" ng-model="user.dept" class="form-control" placeholder="Department" required>
          <span ng-show="form.dept.$dirty && form.dept.$error.required" class="help-block">department Required</span>
          <option ng-repeat="d in data.data2" value="{{d.department}}">{{d.department}}</option>
        </select>
      </div>
      <button type="submit" style="align-self: center; height: 50%;" class="btn btn-primary  btn-sm" ng-disabled="form.$invalid">Create</button>
    </div>
  </form>
</fieldset>
<table class="table table-striped table-hover mt-1">
    <thead class="table-dark">
    <th>Employee ID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Status</th>
    <th>Delete</th>
</thead>
<tr ng-repeat="d in data.data">
    <td>{{d.user_id}}</td>
    <td>{{d.name}}</td>
    <td>{{d.division}}</td>
    <td>
            <button class="btn btn-primary  btn-sm" ng-init="check(d)" style="background-color:rgb(106, 230, 106); border-color: rgb(106, 230, 106);" ng-click="change(d)">{{d.Status}}</button>
    </td>
    <td>
        <button class="btn btn-primary  btn-sm" ng-click="delete(d)" style="background-color: rgb(191, 25, 25);  border-color: rgb(191, 25, 25)">Delete</button>
    </td>
</tr>
</table>